.header {
  display: flex;
  align-items: center;
  justify-content: end;
  max-width: 1180px;
  margin: 0 auto;
  padding: 16px 28px;
  font-family: var(--ruk-font-family);
}

.brand {
  font-family: var(--display-font-family);
  font-weight: 400;
  font-size: 1.3rem;
  color: var(--ruk-color-text);
}
